@use "./../utils" as *;
.appFooter {
  background: $primary-color;
  color: $white;
  padding: rem(24px);
}

.address {
  margin-bottom: rem(24px);
  @include mobile {
    @include flexbox(column);
  }
  @include desktop {
    text-align: center;
  }
}
